<% if account_holder.errors.any? %>
<div id="error_explanation">
    <h3>Sorry, please fix the <%= pluralize(account_holder.errors.count, "error")%> and try again:</h3>
    
    <ul>
        <% account_holder.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= f.label :first_name, "First Name:", :class => "label" %>
<%= f.text_field :first_name %><br>
<%= f.label :last_name, "Last Name:" %>
<%= f.text_field :last_name %><br>
<%= f.label :password, "Password:" %>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation, "Password Confirmation:" %>
<%= f.password_field :password_confirmation %><br>