<!DOCTYPE html>
<html>
  <head>
    <title>EventBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <% if logged_in %>
      <div class="navbar">
        <%= link_to "Account", account_path %>
        <%= link_to "All Events", events_path %>
        <% if admin %>
          <%= link_to "My Events", producer_events_path(current_user) %>
        <% else %>
          <%= link_to "My Events", user_events_path(current_user) %>
        <% end %>
        <%= link_to "Log Out", logout_path, { :method => :post } %>
      </div>
  <% end %>
  </header>

  <% if !!flash[:message] %>
    <p id="flash"><%= flash[:message] %></p>
  <% end %>
  
    <%= yield %>
  </body>
</html>
